body {
  background-color: #E7E3E0;
  font-family: optima;
  color: #AD797A;
}


#wrapper {
  background: #FAF9F9;
  min-width: 1050px;
  min-height: 800px;
  margin:10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.leftpanel {
  width: 20%;
  background: #AD797A;
  height:100%;
  float:left;
  position: absolute;
}
.userProfileTable {
  margin:48px 24px 24px;
  box-shadow: 0;
}
.userProfileTable th {
  padding: 12px;
  font-weight: normal;
  color: white;
}
.leftnav {
  background-color: #EBE1E1;
  height:100%;
  width: 100%;
  position: absolute;
  margin-top: 72px;
}
.leftnav table {
  background: #F7F2F2;
  border-radius: 12px;
  color: ##AD797A;
  font-weight: lighter;
  margin: auto;
  padding: 16px 24px 24px;
  transform: translate(0, -30%);
  text-align: center;
}
.leftnav table th{
  font-size: 64px;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 20px;
  margin-left: 8px;
}

li a {
  text-decoration: none;
  color: #AD797A;
  font-size: 20px;
}
li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #8B5A5B;
  font-size: 20px;
}

#canvas {
  margin-left: 20%;
  padding: 12px;
  text-align: left;
}
select {
  margin: 12px;
}

button {
  margin-left: 24px;
  margin-bottom: 12px;
}
#sidemenu {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 290px;
  width: auto;
  z-index: 100;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
#sidemenu button {
  margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  padding: 2px;
  background-color: #EBE1E1;
  font-family: optima;
}
#sidemenu button:disabled {
  opacity: 40%;
}
