body {
  background-color: #E7E3E0;
  font-family: optima;
  color: #AD797A;
}


#wrapper {
  background: #FAF9F9;
  min-width: 1050px;
  min-height: 800px;
  margin:10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.leftpanel {
  width: 20%;
  background: #AD797A;
  height:100%;
  float:left;
  position: absolute;
}
.userProfileTable {
  margin:48px 24px 24px;
  box-shadow: 0;
}
.userProfileTable th {
  padding: 12px;
  font-weight: normal;
  color: white;
}
.leftnav {
  background-color: #EBE1E1;
  height:100%;
  width: 100%;
  position: absolute;
  margin-top: 72px;
}
.leftnav table {
  background: #F7F2F2;
  border-radius: 12px;
  color: ##AD797A;
  font-weight: lighter;
  margin: auto;
  padding: 16px 24px 24px;
  transform: translate(0, -30%);
  text-align: center;
}
.leftnav table th{
  font-size: 64px;
  font-weight: normal;
}

.leftnav ul {
  list-style-type: none;
}

.leftnav li {
  margin-bottom: 20px;
  margin-left: 8px;
}

.leftnav li a {
  text-decoration: none;
  color: #AD797A;
  font-size: 20px;
}
.leftnav li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #8B5A5B;
  font-size: 20px;
}

#canvas {
  margin-left: 20%;
  padding: 12px;
  text-align: left;
}
select {
  margin: 12px;
}

button {
  margin-left: 24px;
  margin-bottom: 12px;
}
#sidemenu {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 290px;
  width: auto;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}
#sidemenu button {
  margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  padding: 2px;
  background-color: #ffedec;
  font-family: optima;
}
#sidemenu button:disabled {
  opacity: 40%;
}

#dropdownAdd {
  position: absolute;
  display: none;
  top: 80px;
  left: 366px;
  background-color: rgba(255, 237, 236, 0.8);
  width: 180px;
  padding: 20px 0;

  border-radius: 16px;
  border: 1px solid #AD797A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#dropdownAdd a, .dropdown-btn {
  margin-left: 16px;
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #AD797A;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  outline: none;
  font-family: optima;
}

/* On mouse-over */
#dropdownAdd a:hover, .dropdown-btn:hover {
  font-weight: bold;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px 8px;

}
.dropdown-container a {
  font-size: 16px;

}
